/* ===== Variables ===== */
:root {
    --clr-darkGrey: #696969;
    --clr-lightGrey: #d3d3d3;
    --clr-white: rgb(255, 255, 255);
    --clr-black: rgb(0, 0, 0);
    --clr-lightBlue: #85cff8;
    --clr-prioLow: #9fea44;
    --clr-prioMedium: rgb(255, 255, 0);
    --clr-proHigh: #de0040;

    --effects-dropShadow:  5px 5px 10px rgba(0, 0, 0, 0.25);
    --effects-borderRadius: 0.2em;

    --font-main: Arial, Helvetica, sans-serif;
}

/* ===== Global Styles ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-main);
    color: var(--clr-black);
    background: var(--clr-lightGrey);
}
.section-center {
    margin: 0 auto;
    max-width: 900px;
}
.btn {
    background: var(--clr-lightBlue);
    padding: 0.2rem 0.8rem;
    display: inline-block;
    border-radius: var(--effects-borderRadius);
    box-shadow: var(--effects-dropShadow);
    font-weight: 700;
    cursor: pointer;

    /* extra submit btn styles */
    border: none;
    font-family: var(--font-main);
    font-size: 1rem;
}
h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}
h2{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* ===== Heading ===== */
h1{
    background:var(--clr-darkGrey);
    color: var(--clr-white);
    border-radius: var(--effects-borderRadius);
    text-align: center;
    padding: 0.8rem 0;
    margin-top: 15vh;
    box-shadow: var(--effects-dropShadow);
}

/* ===== Add Items ===== */
.section-add-item {
    margin-bottom: 2rem;
}
/* hide label */
.hide{
    display: none;
}
form{
    display: flex;
}
form div{
    width: 80%;
}
input {
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: var(--effects-borderRadius);
    border: 1px solid var(--clr-black);
}
.text-input{
    width: 90%;
}
/* align radio btns */
.radio{
    transform: translateY(0.3em);
}
.radio label{
    margin-right: 1rem;
}

/* =====  ToDo Lists ===== */
.section-task-lists{
    display: flex;
    justify-content: space-between;
}
.tasks-column{
    width: 49%;
}
.tasks {
    background: var(--clr-white);
    padding: 1rem;
    color: var(--clr-white);
    height: 100%;
}
.task {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    background: var(--clr-black);
    margin-bottom: 1rem;
    padding: 0.3rem 1rem;
    border-radius: var(--effects-borderRadius);
    box-shadow: var(--effects-dropShadow);
    cursor: move;
}
.task-element{
    display: flex;
}
.task-element.btns{
    color: var(--clr-black);
    justify-content: right;
}
.task-element.infos{
    justify-content: space-between;
    width: 50%;
}
/* Task Prio */
.low,
.medium,
.high {
    font-weight: 700;
}
.low {
    color: var(--clr-prioLow);
}
.medium {
    color: var(--clr-prioMedium);
}
.high {
    color: var(--clr-proHigh);
}
/* Drag and Drop */
.dragging{
    opacity: 0.3;
}





